* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: #1f2937;
  padding: 15px 300px;
  justify-content: center;
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  flex-basis: 80%;
  font-size: large;
  font-weight: bold;
}

.under-header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  padding: 50px 300px;
  align-content: center;
  justify-content: space-between;
  gap: 50px;
}

.under-header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.img-top {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 200px;
}

.awesome-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

.awesome-paragraph {
  color: #e5e7eb;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #f9faf8;
  transition: 0.3s;
  opacity: 0.6s;
}

a:hover {
  color: rgb(216, 202, 171);
}

h1 {
  background-color: #1f2937;
  color: #f9faf8;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  padding: 7px 20px;
  margin: 10px 0px;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
  opacity: 0.6s;
}

button:hover {
  background-color: #1f2937;
  color: #f9faf8;
}

.container-mid-white1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 300px;
  gap: 50px;
}
.character-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

li {
  list-style: none;
}

.dogs {
  width: 200px;
  height: 200px;
  border: #3582ee solid 5px;
  border-radius: 15px;
}

.information-text-header {
  color: #1f2937;
  font-size: 36px;
  font-weight: 800;
}

figcaption {
  width: 200px;
  color: cornflowerblue;
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
}

.p3 {
  color: #1f2937;
  font-style: italic;
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: lighter;
  padding: 50px 300px;
}

span {
  text-align: right;
  text-decoration: underline;
  margin-left: 75%;
}

.container-mid-white3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 300px;
}

.call-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  padding: 40px 150px;
  gap: 150px;
}

.left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  
}

.call-p {
  font-size: 20px;
  font-weight: bolder;
}

.button2 {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  padding: 7px 20px;
  margin: 10px 0px;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
  opacity: 0.6s;
  border: #e5e7eb solid 2px;
}

.footer {
  display: flex;
  color: #f9faf8;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  padding: 50px 300px;
  font-size: large;
  font-weight: bold;
}
